<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRM web assignment display contacts page</title>
  </head>
  <body>
    <h1>All Contacts</h1>
    <p>
      <ul>
  <!-- this works by taking the contacts from the Contact.create function in the crm file -->

  <!-- Also, the function is using the self.all function from the Contact page. -->
        <% Contact.all.each do |contact| %>
        <li> <a href='/contacts/<%= contact.id %>'><%= contact.first_name %> <%= contact.last_name %></a>
</li>
        <% end %>




             </ul>
           </p>
    </body>
  </html>
