<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>crm web app</title>
  </head>
  <body>
    <h1>Welcome to <%= @crm_app_name %>!</h1>
    <h2>This is the time <%= @time %></h2>
        <p>Main menu</p>

    <ul>
      <li><a href="/contacts">View all contacts</a></li>
      <!-- please complete me with links to other actions -->
      <li><a href="/contacts/new">Add new contact</a></li>
    </ul>  
  </body>
</html>
