

          <div class="container">
            <div id="first-div">
    <h1>Welcome to <%= @crm_app_name %>!</h1>
    <h2>This is the time <%= @time %></h2>
        <p>Main menu</p>
        <div id=contacts-div>
          <nav class="nav-contact-bar">
    <ul>
      <li><a href="/contacts">View all contacts</a></li>
      <ul>
        <li id="edit_delete_list">Edit and Delete inside</li>
      </ul>
      <!-- please complete me with links to other actions -->
      <li><a href="/contacts/new">Add new contact</a></li>
      <li><a href="/contacts/new">Delete conact</a></li>
      <li><a href="/contacts/:id">Search contacts by ID</a></li>

      </ul>
        </nav>
  </div>
          </div>

  </div>
