<!DOCTYPE html>
<html>
  <head>
  <link rel='stylesheet' type='text/css' href='/style.css'>">
    <title>crm web app</title>
  </head>
  <body>
    <header>
    <h1 class="header-class">Kitten company CRM: A Selfish Company
    </h1>
      <h6 class="header-class">"We take seriously the me in meow"
      </h6>
<!-- google icon for practice -->
        <a>
          <img class="Cat CRM logo" src="kitty.jpg" alt="">
        </a>
      </header>
    <%= yield %>
    <footer class="footer-class">
      <h3>Taking only about cats since 1735</h3>
      </footer>
  </body>
</html>
