
.nav-contact-bar ul a  {
  display: inline;
  color: green;
}

* {
  padding: 0px;
}

header,
main,
foooter {
  margin: 20px;
}

.container {
  margin-left: auto;
  width: 600px;
  margin-right: auto;
}

.header-class{
  font-style: Helvetica, Arial, sans-serif;

}

#first-div {
  border: 3px solid black;
}

#contacts-div {
  padding-left: 20px;
  background-color: pink;
}
